@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ---------------------------------- Variables ---------------------------------- */
:root {
    --highlight-text-color: #389ff3;
    --glow-color: rgba(6, 124, 242, 1);
    --main-color: rgb(0, 18, 32);
    --focus-color: rgb(1, 35, 60);
}


/* ----------------------------------- Styling ----------------------------------- */
* {
    margin: 0;
    padding: 0;
    color: white;
    scroll-behavior: smooth;
}
  
body {
    background: var(--main-color);
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    max-width: 2560px;
    overflow-x: hidden;
}

section {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.glow {
    /* background-image: linear-gradient(to bottom right, var(--highlight-text-color), #8403ab);
    -webkit-background-clip: text;
    color: transparent; */
    color: var(--highlight-text-color);
    text-shadow: 0 0 5px var(--glow-color), 0 0 10px var(--glow-color);
    animation: glow 2s ease-in-out infinite alternate;
}

.nav-link.highlight {
    color: var(--highlight-text-color);
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5rem;
    margin-top: 1.5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 100%;
    background: var(--highlight-text-color);
    border: 0.2rem solid var(--highlight-text-color);
    border-radius: 0.8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
}

.btn-box .btn:hover {
    color: var(--highlight-text-color);
}

.btn-box .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--highlight-text-color);
    z-index: -1;
    transition: 0.5s;
}

.btn-box .btn:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
}

/* ------------- Top Bar Section ------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    color: white;
    width: 100vw;
    padding: 0.5vh 0;
    z-index: 9999;
}

header h1 {
    font-size: 2.5rem;
    padding-left: 10%;
}

#navbar {
    padding-right: 10%;
}

.nav-link {
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    margin-left: 4rem;
    transition: 0.4s;
}

.nav-link:hover {
    color: var(--highlight-text-color);
}


/* ------------- Home Section ------------- */
#welcome::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('Images/Backgrounds/background4.png');
    z-index: -1;
}

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#welcome-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#welcome-content h1 {
    font-size: 6rem;
}

#welcome-content h2 {
    font-size: 2.3rem;
}

#welcome-content h4 {
    font-size: 2.3rem;
}

#home-btns {
    display: flex;
    gap: 3rem;
}

#home-btns .btn-box {
    margin-top: 2rem;
    height: 4.8rem;
}

#home-btns .btn-box .btn {
    width: 15rem;
    height: 100%;
    margin-top: 0;
}

#home-btns .talk .btn {
    color: var(--highlight-text-color);
    background: var(--main-color);
}


#home-btns .talk .btn:hover {
    color: var(--main-color);
}

#home-btns .talk .btn::before {
    background: var(--main-color);
}

#home-btns .talk .btn:hover::before {
    background: var(--highlight-text-color);
}


/* ------------- About Section ------------- */
#about::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('Images/Backgrounds/background4.png'); 
    transform: scaleY(-1);
    z-index: -1;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
}

#portrait-container {
    transform: scale(0.7);
}

#portrait-container img {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(31, 36, 53, 0.2);
}

#about-content h1 {
    font-size: 6rem;
}

#about-content h3 {
    font-size: 2.5rem;
    padding-bottom: 3%;
    transform: translateY(-15px);
}

#about-content p {
    font-size: 1.5rem;
}


/* ------------ Projects Section ------------ */
#projects {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('Images/Backgrounds/background4.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#project-content h1 {
    font-size: 5rem;
    padding-bottom: 3vh;
}

#project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.project-tile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 550px;
    height: 325px;
}

#project-list li img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s;
}

.project-description {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
    margin: 0 1rem;
}

.project-icon {
    position: relative;
    display: flex;
    margin-top: 3rem;
    transform: scale(2);
    cursor: pointer;
}

.project-icon a {
    display: flex;
}

.project-icon::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--glow-color);
    border-radius: 50%;
    z-index: -1;
    transform: scale(1.5);
    transition: 0.5s;
}

.project-tile:hover img {
    filter: brightness(15%);
    transform: scale(1.05);
}

.project-tile:hover .project-description {
    opacity: 1;
}

.project-description p {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}


/* ------------- Skills Section ------------- */
#skills::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('Images/Backgrounds/background4.png'); 
    transform: scaleY(-1);
    z-index: -1;
}

#skills {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#skills-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills-content h1 {
    font-size: 5rem;
    padding-bottom: 3vh;
}

#skills-grid {
    list-style: none;
}

#skills-grid li p {
    font-size: 2rem;
}


/* ------------- Contact Section ------------- */
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    min-height: 100vh;
    background-image: url('Images/Backgrounds/background4.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-content form {
    max-width: 55%;
    margin: 0 auto;
    text-align: center;
}

.contact-content form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-content form .input-box .input-field {
    position: relative;
    display: flex;
    justify-content: center;
    width: 49%;
    margin: .8rem 0;
}

.contact-content form .textarea-field {
    display: flex;
    justify-content: center;
}

.contact-content form .input-box .input-field input,
.contact-content form .textarea-field textarea {
    width: 100%;
    height: 50%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: white;
    background: transparent;
    border-radius: 0.6rem;
    border: 0.2rem solid var(--highlight-text-color);
}

.contact-content form .input-box .input-field input:focus,
.contact-content form .textarea-field textarea:focus {
    outline: none;
    background-color: var(--focus-color);
    caret-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-text-fill-color: white;
    box-shadow: inset 100px 100px var(--main-color);
}

.contact-content form .input-box .input-field input::placeholder,
.contact-content form .textarea-field textarea::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

.contact-content form .textarea-field {
    margin-top: 1.3rem;
}

.heading {
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

/* ------------- Links Section ------------- */
#links::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('Images/Backgrounds/background4.png');
    z-index: -1;
}

#links {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid var(--highlight-text-color);
    padding: 2vh 0;
}

#links-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#links-content h3 {
    font-size: 2.5rem;
}

#links-content p {
    font-size: 1.2rem;
    font-weight: 300;
}

#link-icons {
    display: flex;
    padding-top: 1.7vh;
    gap: 50px;
    font-size: 2.8rem;
}

.icon {
    color: white;
    transition: 0.4s;
}

.icon:hover {
    color: var(--highlight-text-color);
}


/* -------------------------------- Media Queries --------------------------------- */
@media (max-width: 1200px) {

}

/* ---------------------------------- Animations ---------------------------------- */
@keyframes glow {
    0% {
        text-shadow: 0 0 5px rgba(6, 124, 242, 0.8), 0 0 10px rgba(6, 124, 242, 0.8);
    }
    100% {
        text-shadow: 0 0 10px rgba(6, 124, 242, 0.8), 0 0 20px rgba(6, 124, 242, 0.8);
    }
}