@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ---------------------------------- Variables ---------------------------------- */
:root {
    --highlight-text-color: #77c3ee;
    --glow-color: rgba(6, 124, 242, 1);
}


/* ----------------------------------- Styling ----------------------------------- */
* {
    margin: 0;
    padding: 0;
    color: white;
  }
  
body {
    background: radial-gradient(50% 50% at 50% 50%, #1f2435 0%, #1d2635 100%);
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    max-width: 2560px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.glow {
    color: var(--highlight-text-color);
    text-shadow: 0 0 5px var(--glow-color), 0 0 10px var(--glow-color);
    animation: glow 2s ease-in-out infinite alternate;
}

/* ------------- Top Bar Section ------------- */
header {
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: rgba(29, 38, 53, 0.8);
    backdrop-filter: blur(5px);
    color: white;
    width: 100%;
    padding: 0.5vh 0;
    z-index: 9999;
}

header h1 {
    font-size: 2.5rem;
    padding-left: 10%;
}

#navbar {
    padding-right: 10%;
}

.nav-link {
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    margin-left: 4rem;
    transition: 0.4s;
}

.nav-link:hover {
    color: var(--highlight-text-color);
}


/* ------------- Home Section ------------- */
#welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#welcome-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    /* padding-left: 6vw; */
}

#welcome-content h1 {
    font-size: 6rem;
}

#welcome-content h2 {
    font-size: 2.3rem;
}

#welcome-content h4 {
    font-size: 2.3rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
}


/* ------------- About Section ------------- */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
}

#portrait-container {
    transform: scale(0.7);
}

#portrait-container img {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(31, 36, 53, 0.2);
}

#about-content h1 {
    font-size: 6rem;
}

#about-content h3 {
    font-size: 2.5rem;
    padding-bottom: 3%;
    transform: translateY(-15px);
}

#about-content p {
    font-size: 1.5rem;
}


/* ------------ Projects Section ------------ */
#projects {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#project-content h1 {
    font-size: 4.5rem;
    padding-bottom: 3vh;
}

#project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.project-tile {
    display: inline-block;
    list-style: none;
    width: 600px;
    height: 338px;
}

#project-list li img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


/* ------------- Skills Section ------------- */
#skills {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#skills-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills-content h1 {
    font-size: 5rem;
    padding-bottom: 3vh;
}

#skills-grid {
    list-style: none;
}

#skills-grid li p {
    font-size: 2rem;
}


/* ------------- Skills Section ------------- */
#contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact h1 {
    font-size: 5rem;
}

#contact p {
    font-size: 2rem;
}


/* ------------- Links Section ------------- */
#links {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid var(--highlight-text-color);
    padding: 2vh 0;
}

#links-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#links-content h3 {
    font-size: 2.5rem;
}

#links-content p {
    font-size: 1.2rem;
    font-weight: 300;
}

#link-icons {
    display: flex;
    padding-top: 1.7vh;
    gap: 50px;
    font-size: 2.8rem;
}

.icon {
    color: white;
    transition: 0.4s;
}

.icon:hover {
    color: var(--highlight-text-color);
}


/* -------------------------------- Media Queries --------------------------------- */
@media (max-width: 1200px) {

}

/* ---------------------------------- Animations ---------------------------------- */
@keyframes glow {
    0% {
        text-shadow: 0 0 5px rgba(6, 124, 242, 0.8), 0 0 10px rgba(6, 124, 242, 0.8);
    }
    100% {
        text-shadow: 0 0 10px rgba(6, 124, 242, 0.8), 0 0 20px rgba(6, 124, 242, 0.8);
    }
}